body {
  font-family: 'Open Sans', sans-serif;
  background-color: #FFFFFF;
}
#content {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
button {
  background-color: #E5B6D5;
  border-style: solid;
  border-top-color: #B2479A;
  border-bottom-color: #B2479A;
  border-right-color: #CC7FB5;
  border-left-color: #CC7FB5;
  border-width: 10px;
  color: #FFFFFF;
  font-size: 22px;
  height: 100px;
  width: 200px;
  margin: 20px;
  outline: none;
  text-align: center;
}
button:hover {
  background-color: #B2479A;
  border-top-color: #CC7FB5;
  border-bottom-color: #CC7FB5;
  border-right-color: #E5B6D5;
  border-left-color: #E5B6D5;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  #content {
    display: flex;
    flex-direction: column;
  }
  #reset {
    height: 55px;
    font-size: 18px;
  }
}
